.row {
  display: grid;
  grid-template-columns: 30% 12% repeat(2, 17%) 1fr;
  gap: 1px;
}
.row:nth-child(odd) {
  background-color: #eeeeee;
}
.dataCell {
  font-size: 16px;
  padding: 15px;
  color: var(--secondary_color);
  display: flex;
  align-items: center;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  a {
    text-decoration: underline;
    color: var(--secondary_color);
  }
}
.align {
  display: flex;
  align-items: center;
  justify-content: end;
}
.bold {
  font-weight: 600;
}
.selectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  select {
    font-size: 13px;
    border-radius: 10px;
    width: 90%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 8px 10px;
    cursor: pointer;
    option {
      font-size: 15px;
    }
  }
}
