.gridContainer {
  display: grid;
  max-width: 100%;
  overflow-x: auto;
  margin: 0 20px;
}
.gridTable {
  min-width: 800px;
}
.headerTable {
  display: grid;
  grid-template-columns: 30% 12% repeat(2, 17%) 1fr;
  gap: 1px;
}
.headerCell {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;

  color: var(--table-header-color);
  background-color: var(--table-header-background-color);
  font-size: var(--table-header-font-size);
  font-weight: var(--table-header-font-weight);
}
