.error {
  color: var(--error_color);
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom: 1px solid var(--secondary_color);
  padding: 40px 0;
  p {
    font-size: 0.8em;
    font-weight: 100;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  label {
    font-size: 0.9em;
    font-weight: 500;
    min-width: 100px;
    text-align: right;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
}
.botonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.small {
  width: 100px;
}
.large {
  width: 400px;
}
.medium {
  width: 250px;
}
